all: [% fastq.all_targets %]

[% FOREACH target IN fastq.targets -%]
[% target.output %]:
	[% settings.project_dir %]/../bin/cloud-align.sh "[% target.read_group %]" [% settings.out_dir %] [% join(' ', target.files) %]

[% END -%]
