[% FOREACH idx IN fastq.indexes -%]
[% SET all_targets = " rg_$idx$all_targets" -%]
[% END -%]
all: [% all_targets %]

[% FOREACH read_group IN fastq.read_groups -%]
rg_[% read_group.index %]: [% read_group.files.keys.join(' ') %]
	@[% settings.project_dir %]/bin/gce-align.sh "[% read_group.name %]" [% settings.out_dir %] [% read_group.files.keys.join(' ') %] &> [% settings.out_dir %]/rg-log-[% read_group.index %].log

[% END -%]
